.container {
  width: 75%;
  text-align: center;
  height: 30vh;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  text-align: left;
}

.container p {
  margin: 0;
}

#left-sidebar-off {
  position: fixed;
  z-index: 10;
  width: 250px;
  height: 100vh;
  display: flex;
  align-items: center;
  background-color: black;

}

#left-sidebar-off.rolled{
  transform: translateX(0);
  transition: 1s;
}

#left-sidebar-nav img {
  height: 50px;
  width: 50px;
}

#left-sidebar-container {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.left-sidebar-links ul li {
  list-style: none;
  padding: 5px;
  cursor: pointer;
}

.left-sidebar-links ul li a {
  text-decoration: none;
  color: white;
  font-size: large;
  cursor: pointer;
}



