<aside id="left-sidebar-off">
  <div id="left-sidebar-container">
    <nav id="left-sidebar-nav">
      <div class="left-sidebar-links">
        <ul>
          <li id="lipage"><a routerLink="/home" (click)="toggleOffSidebar()">Home</a></li>
          <li id="liabout"><a routerLink="/about" (click)="toggleOffSidebar()">About</a></li>
          <li id="limusic"><a routerLink="/contact" (click)="toggleOffSidebar()">Contact</a></li>
          <li id="users"><a routerLink="/users" (click)="toggleOffSidebar()">Users</a></li>
          <li id="user-create"><a routerLink="/user-create" (click)="toggleOffSidebar()">User Create</a></li>



        </ul>
        <div class="search-container" (click)="toggleOptions()">
        </div>
      </div>
    </nav>
  </div>
</aside>
