<div class="container">
  <div class="container-start">
    <div>{{user?.username | myPipe:"..."}}</div>
    <form  #form="ngForm">
      <input type="form" required minlength="3" maxlength="20" #usernameEl="ngModel" name="newUsername" placeholder="new username" value="{{user.username}}" [(ngModel)]="newUsername">
      <button class="btn-form" name="save" (click)="changeUsername(user.id)">CHANGE</button>
      <p>OR</p>
      <button class="btn-form" name="save" (click)="deleteUser(user.id)">DELETE</button>
    </form>
    <div *ngIf="usernameEl.invalid && usernameEl.touched">
      <div class="err">
      <span *ngIf="usernameEl.errors.minlength">Username is too short, minimal length is {{usernameEl.errors.minlength.requiredLength}}</span>
      <span *ngIf="usernameEl.errors.maxlength">Username is too long, maximal length is {{usernameEl.errors.maxlength}}</span>
      <span *ngIf="usernameEl.errors.required">Username required</span>
      </div>
    </div>
  </div>
</div>
